.author {
    color: rgb(44, 62, 80);
}

body {
    padding-top: 70px;
}

h2 {
    border-top: 1px solid rgb(44, 62, 80);
    padding-top: 10px;
}

header {
    margin-bottom: 20px;
}

time {
    color: rgb(44, 62, 80);
}

.resume {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

ul.index {
    list-style-type: none;
}

ul.index li {
    border-bottom: 1px solid rgb(44, 62, 80);
    padding: 40px 0px;
}

ul.index p {
    margin-top: 25px;
}
